<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h5 style="color:green;"> {{ activation_link }} </h5>
        <h5 style="color:red;"> {{ errors.not_set_error }} </h5>
        <h5 style="color:red;"> {{ errors.empty_error }} </h5>
        <h5 style="color:red;"> {{ errors.not_registered }} </h5>
        <form action = "subscriber/forgetpassword.php" method = "POST">
            Enter registered email id: <input type = "email" name = "registered_email">
            <button type = "submit">Submit</button>
        </form>
    </body>
</html>