<html>

<head>
    <title>Profile</title>
</head>

<body>
     <form action="updateemail.php" method=post>
        <label for="Email">Email:</label>
        <input type="text" id="Email" name="Email" value="{{profile.Email}}" ><br><br>
        <input type="submit" value="Update Email">
    </form>


    <form action="updateprofile.php" method=post>
        <label for="First Name">First Name:</label>
        <input type="text" id="FirstName" name="FirstName" value="{{profile.FirstName}}"><br><br>

        <label for="MiddleName">Middle Name:</label>
        <input type="text" id="MiddleName" name="MiddleName" value="{{profile.MiddleName}}"><br><br>

        <label for="LastName">Last Name:</label>
        <input type="text" id="LastName" name="LastName" value="{{profile.LastName}}"><br><br>

        <label for="PhNum">Phone Num:</label>
        <input type="text" id="PhNum" name="PhNum" value="{{profile.PhNum}}"><br><br>

        <label for="LinkedInURL">LinkedIn URL:</label>
        <input type="text" id="LinkedInURL" name="LinkedInURL" value="{{profile.LinkedInURL}}"><br><br>

        <label for="TwitterURL">Twitter URL:</label>
        <input type="text" id="TwitterURL" name="TwitterURL" value="{{profile.TwitterURL}}"><br><br>

        <label for="Qualification">Qualification:</label>
        <input type="text" id="Qualification" name="Qualification" value="{{profile.Qualification}}"><br><br>

        <label for="Biography">Biography:</label>
        <input type="text" id="Biography" name="Biography" value="{{profile.Biography}}"><br><br>
        
        <input type="submit" value="Update">
        
        <a href="updatepassword.php">Change Password</a>
        <a href="logout.php">Log Out</a>
    </form>
</body>

</html>