<html>
    <head>
        <title>{{ title }}</title>
<<<<<<< HEAD:templates/author/register.html.twig
        <script type="text/javascript" src="js/register.js"></script>
    </head>
    <body>   
        <h5 style="color:green;"> {{ activation_link }} </h5> 
=======
        <script type="text/javascript" src="/var/www/celestiallearning/js/register.js"></script>
    </head>
    <body>   
        <h5 style="color:green;"> {{ activation_link }} </h5> 
        <h5 style="color:red;"> {{ saumya }} </h5>
>>>>>>> 58863b27e0f456741d4f92bb02569ed135ce1b31:templates/author/register.html.twig
        <form action = "register.php" name = "register_form" method = "POST" onsubmit="return validation()">
            Enter Username <input type = "text" name = "username" ><br><br>
            <h5 style="color:red;"> {{ errors.username_error }} </h5>
            Enter Email ID <input type = "text" name = "email" ><br><br>
            <h5 style="color:red;"> {{ errors.email_error }} </h5>
            Enter Password <input type = "password" name = "password" ><br><br>
            Confirm Password <input type = "password" name = "confirm_password" ><br><br>
            <button type ="submit" name = "submit">Submit</button>
        </form>
        <h5 style="color:red;"> {{ errors.not_set_error }} </h5>
        <h5 style="color:red;"> {{ errors.empty_error }} </h5>
        <h5 style="color:red;"> {{ errors.password_length }} </h5>
    </body>
</html>

