<html>
    <head>
        <script type="text/javascript" src="register.js"></script>
    </head>
    <body>      
        <form action = "register.php" name = "register_form" method = "POST" onsubmit="return validation()">
            Enter Username <input type = "text" name = "username" ><br><br>
            <h5 style="color:red;"> {{ errors.username_error }} </h5>
            Enter Email ID <input type = "text" name = "email" ><br><br>
            <h5 style="color:red;"> {{ errors.email_error }} </h5>
            Enter Password <input type = "password" name = "password" ><br><br>
            Confirm Password <input type = "password" name = "confirm_password" ><br><br>
            <button type ="submit" name = "submit">Submit</button>
        </form>
        <h5 style="color:red;"> {{ errors.not_set_error }} </h5>
        <h5 style="color:red;"> {{ errors.empty_error }} </h5>
        <h5 style="color:red;"> {{ errors.password_length }} </h5>
    </body>
</html>

